
body {

  height : 100vh;
}



/* NAV BAR */
.navbar {
  height: 30px;
  font-family: monospace;
}

.navbar ul {
font-family: "roboto", sans-serif;
font-size: 14px;
display : flex ;
list-style: none ;
justify-content : flex-end;
align-content: space-between;
}

.navitems {
margin: 0px  10px;
align-items : center;
}

.navicon {
  color: black; /* changer la couleur en noir*/
}

#emailbutton {
  background-color: #4385F7 ;
  border-radius: 2px;
  border : none ;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  font-weight: bold ;
}

/* main */

.main {
   display : flex ;
   flex-direction: column;
   height : 580px;
   align-items: center;
   justify-content: center;
}

#logo {
margin-bottom: 30px;
}

#searchbar {
width: 550px;
height: 38px;
margin-bottom: 30px;
margin-top: 13px;
border-radius: 20px;
border : 1px solid #ECECEC ;
}

.twobuttonsbox{
  display:flex;
  justify-content: center;
}

.button2 {
background-color: #ECECEC ;
margin: 10px 4px ;
padding: 0px 16px;
border : none ;
border-radius: 4px;
font-size: 13px ;
width : 150px;
height : 36px;
font-family: "roboto", sans-serif;
color: #5F6368;
}
.footerbar {
  background-color: #F2F2F2 ; 
  color: rgba(0,0,0,.54);
  height: 80px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

.pays{
  border-top: 0.1px solid #E4E4E4;
  border-bottom: 0.1px solid #E4E4E4;
  display: flex;
  justify-content: flex-start;
  height: 40px;
}


.footerbottom{
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
}

.footerbar ul {
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
}
.footer-right ul li, .footer-left ul li{
  list-style: none; 
  margin-right: 10px;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}
